### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [4]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
# Create output for "District Summary"
total_schools = len(school_data["school_name"])
total_students = school_data["size"].sum()
total_budget = school_data["budget"].sum()
avg_math_score = student_data["math_score"].mean()
avg_reading_score = student_data["reading_score"].mean()
passing_math_scores = (((student_data.loc[student_data["math_score"] >= 70, "math_score"]).count())
                       /total_students)*100
passing_reading_scores = (((student_data.loc[student_data["reading_score"] >= 70, "reading_score"]).count())
                          /total_students)*100
overall_pass_rate = (passing_math_scores + passing_reading_scores)/2
# Create a DataFrame of frames using a dictionary of lists for "District Summary"
district_summary = pd.DataFrame({
    "Total Schools": [total_schools],
    "Total Students": [total_students],
    "Total Budget": [total_budget],
    "Average Math Score": [avg_math_score],
    "Average Reading Score": [avg_reading_score],
    "% Passing Math": [passing_math_scores],
    "% Passing Reading": [passing_reading_scores],
    "% Overall Passing Rate": [overall_pass_rate]})
# Create output for "School Summary"
# Drop column :School ID" from dataframe school_data and name school_summary
school_summary = school_data.drop(columns=["School ID"])
# Rename columns
school_summary = school_summary.rename(columns = {"school_name":"School Name", "type":"School Type",
                                                  "size":"Total Students", "budget":"Total School Budget"})
# Create new columns
per_student_budget = school_summary["Total School Budget"]/school_summary["Total Students"]
school_summary["Per Student Budget"] = per_student_budget
# Sort school_summary alphabetically
school_summary_sort = school_summary.sort_values("School Name")
# Re-index school_summary_sort
school_summary_sort = school_summary_sort.reset_index(drop=True)

# Create dataframe which is a subset of dataframe school_data to calculate average math and reading scores 
math_reading = student_data.loc[:, ["school_name", "reading_score", "math_score"]]
# Use for % math and reading >= 70
math_percent = math_reading.drop(columns=["reading_score"])
reading_percent = math_reading.drop(columns=["math_score"])
# Extract rows of score >= 70
math_percent_ext = math_percent[math_percent["math_score"] >= 70]
reading_percent_ext = reading_percent[reading_percent["reading_score"] >= 70]
# Group each by school name and count
math_per_gb = math_percent_ext.groupby(by="school_name", as_index=False)
reading_per_gb = reading_percent_ext.groupby(by="school_name", as_index=False)
math_per_gb_c = math_per_gb.count()
reading_per_gb_c = reading_per_gb.count()

# Append groupby's and drop school name columns
math_reading_percent_raw = pd.concat([math_per_gb_c,reading_per_gb_c], axis=1)
math_reading_percent_raw = math_reading_percent_raw.drop(columns=["school_name"])
# Rename columns
math_reading_percent_raw = math_reading_percent_raw.rename(columns = {"math_score":"Math >= 70", 
                                                                      "reading_score":"Reading >= 70"})
per_math_school = math_reading_percent_raw["Math >= 70"]/school_summary_sort["Total Students"]
per_reading_school = math_reading_percent_raw["Reading >= 70"]/school_summary_sort["Total Students"]

# math_reading_percent_raw.head()

math_reading_gb = math_reading.groupby(by="school_name", as_index=False)
# math_reading_gb.head()
math_reading_mean = math_reading_gb.mean()

math_reading_mean = math_reading_mean.drop(columns=["school_name"])
# Append math_reading_mean to school_summary_sort
comb_ss_mr = pd.concat([school_summary_sort,math_reading_mean], axis=1)
comb_ss_mr["% Passing Math"] = per_math_school
comb_ss_mr["% Passing Reading"] = per_reading_school
comb_ss_mr["Overall Passing Rate"] = (per_math_school + per_reading_school)/2
comb_ss_mr






# Create a DataFrame of frames using a dictionary of lists for "School Summary"

,School Name,School Type,Total Students,Total School Budget,Per Student Budget,reading_score,math_score,% Passing Math,% Passing Reading,Overall Passing Rate
0,Bailey High School,District,4976,3124928,628.0,81.033963,77.048432,0.666801,0.819333,0.743067
1,Cabrera High School,Charter,1858,1081356,582.0,83.975780,83.061895,0.941335,0.970398,0.955867
2,Figueroa High School,District,2949,1884411,639.0,81.158020,76.711767,0.659885,0.807392,0.733639
3,Ford High School,District,2739,1763916,644.0,80.746258,77.102592,0.683096,0.792990,0.738043
4,Griffin High School,Charter,1468,917500,625.0,83.816757,83.351499,0.933924,0.971390,0.952657
5,Hernandez High School,District,4635,3022020,652.0,80.934412,77.289752,0.667530,0.808630,0.738080
6,Holden High School,Charter,427,248087,581.0,83.814988,83.803279,0.925059,0.962529,0.943794
7,Huang High School,District,2917,1910635,655.0,81.182722,76.629414,0.656839,0.813164,0.735002
8,Johnson High School,District,4761,3094650,650.0,80.966394,77.072464,0.660576,0.812224,0.736400
9,Pena High School,Charter,962,585858,609.0,84.044699,83.839917,0.945946,0.959459,0.952703
10,Rodriguez High School,District,3999,2547363,637.0,80.744686,76.842711,0.663666,0.802201,0.732933
11,Shelton High School,Charter,1761,1056600,600.0,83.725724,83.359455,0.938671,0.958546,0.948609
12,Thomas High School,Charter,1635,1043130,638.0,83.848930,83.418349,0.932722,0.973089,0.952905
13,Wilson High School,Charter,2283,1319574,578.0,83.989488,83.274201,0.938677,0.965396,0.952037
14,Wright High School,Charter,1800,1049400,583.0,83.955000,83.682222,0.933333,0.966111,0.949722

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [12]:
# Print "District Summary" table
# district_summary
# Print "School Summary" table
# school_summary
school_summary_sort

,School Name,School Type,Total Students,Total School Budget,Per Student Budget
0,Bailey High School,District,4976,3124928,628.0
1,Cabrera High School,Charter,1858,1081356,582.0
2,Figueroa High School,District,2949,1884411,639.0
3,Ford High School,District,2739,1763916,644.0
4,Griffin High School,Charter,1468,917500,625.0
5,Hernandez High School,District,4635,3022020,652.0
6,Holden High School,Charter,427,248087,581.0
7,Huang High School,District,2917,1910635,655.0
8,Johnson High School,District,4761,3094650,650.0
9,Pena High School,Charter,962,585858,609.0
10,Rodriguez High School,District,3999,2547363,637.0
11,Shelton High School,Charter,1761,1056600,600.0
12,Thomas High School,Charter,1635,1043130,638.0
13,Wilson High School,Charter,2283,1319574,578.0
14,Wright High School,Charter,1800,1049400,583.0

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [ ]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

## Scores by School Size

* Perform the same operations as above, based on school size.

In [ ]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

## Scores by School Type

* Perform the same operations as above, based on school type.